.header {
  height: 55px;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color:rgb(192, 192, 192) ;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 800px;
}

.search-bar {
  height: 37px;
  width: 0;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 195, 195);
  border-radius: 3px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font: Roboto, Ariel;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(195, 195, 195);
  border-radius: 3px;
  margin-left: -1px;
  margin-right: 10px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  font-size: 11px;
  bottom: -38px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.search-icon {
  height: 25px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;
  background-color: rgb(244, 244, 244);
}

.voice-search-icon {
  height: 25px;
}

.right-section {
  width: 220px;
  margin-right: 22px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: rgb(199, 3, 3);
  color: white;
  font-size: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
}
.current-user-picture {
  height: 34px;
  border-radius: 16px;
  cursor: pointer;
}